<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Password Reset{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="/media/img/favicon.svg">
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/css/password-reset.css' %}">
    
   
</head>
<body>
   
    <div class="container">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert">
            <strong>Error:</strong> {{ message|safe }}
            <span class="closebtn">&times;</span> 
          </div>
        {% endif %}
        {% if message.tags == 'success' %}
        <div class="alert success">
            <span class="closebtn">&times;</span>  
            <strong>Success!</strong> {{ message|safe }}
          </div>
        {% endif %}
        {% if message.tags == 'warning' %}
        <div class="alert warning">
            <span class="closebtn">&times;</span>  
            <strong>Warning!</strong> {{ message|safe }}
          </div>
        {% endif %}
        {% if message.tags == 'info' %}
        <div class="alert info">
            <span class="closebtn">&times;</span>  
            <strong>Info!</strong> {{ message|safe }}
          </div>
        {% endif %}
     
        {% endfor %}
    
        {% block content %}{% endblock %}
    </div>

    {% load static %}
    <script src="{% static 'authentication/js/script.js' %}"></script>
    <script src="{% static 'authentication/js/password-reset.js' %}"></script>
</body>
</html>
